<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>后台管理页面</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/mystyle.css">
    <link rel="stylesheet" href="/static/index.css">
</head>
<body>
    <!--导航条部分-->
    <div class="head">
        <div class="logo">
            <a href="/index/"><img src="/static/img/logo_small.gif"></a>
        </div>
        <div class="user-func">

                {% if request.userinfo %}
                    <span class="func_item"><a href="/blog/{{ request.userinfo.username }}/">我的博客</a></span>
                    <span class="func_item"><a href="/backstage/total">后台管理</a></span>
                    <span class="func_item"><a href="/settings/">设置</a></span>
                    <span class="func_item"><a href="/logoff/">注销</a></span>

                {% else %}
                <span  class="func_item"><a href="/register/">注册</a></span >
                <span  class="func_item"><a href="/login/">登录</a></span >
                {% endif %}
        </div>
    </div>

    <div class="function-list" style="width: 25%">

            <ul class="list-group">
                <li class="list-group-item"><a href="/backstage/add_article/">添加文章</a></li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Morbi leo risus</li>
                <li class="list-group-item">Porta ac consectetur ac</li>
                <li class="list-group-item">Vestibulum at eros</li>
            </ul>
    </div>


    <script src="/static/jquery-3.3.1.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>