<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>这是首页</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/mystyle.css">
</head>
<body>
    <!--导航条部分-->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- 左侧logo区域 -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Brand</a>
            </div>

            <!-- 右侧选项区 -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <!-- 靠近logo的两个选项 -->
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
                    <li><a href="#">Link</a></li>
                </ul>
                <!-- 个人功能列表 -->
                <ul class="nav navbar-nav navbar-right">
                    {% if request.userinfo %}
                        <li><a href="http://www.baidu.com">百度</a></li>
                        <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ request.userinfo.username }}<span class="caret"></span></a>
                              <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="/backstage/total/">后台管理</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="/logoff/">注销</a></li>
                              </ul>
                        </li>
                    {% else %}
                        <li><a href="/login/">登录</a></li>
                        <li><a href="/register/">注册</a></li>
                    {% endif %}
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <!--下方主题部分-->
    <div class="container">
        <div class="row">
            <!--左侧区域-->
            <div class="col-sm-2">
                <div class="panel panel-primary">
                    <div class="panel-heading">Panel heading without title</div>
                    <div class="panel-body">Panel content</div>
                </div>
                <div class="panel panel-info">
                    <div class="panel-heading"><h3 class="panel-title">Panel title</h3></div>
                    <div class="panel-body">Panel content</div>
                </div>
            </div>
            <!--中间正文区域-->
            <div class="col-sm-8">
                {% for article in all_art %}
                <div class="media">
                    <div class="media-left">
                        <a href="/blog/article/{{ article.id }}">
                          <img class="media-object author-img" src="/media/{{ article.author.avator }}" alt="...">
                        </a>
                    </div>
                    <div class="media-body">
                        <a href="/blog/article/{{ article.id }}"><h4 class="media-heading">{{ article.title }}</h4></a>
                    {{ article.desc }}
                    </div>
                    <div class="modal-footer">
                        <span><a href="/blog/{{ article.author.username }}">{{ article.author.username }}</a></span>
                        <span>发布于{{ article.write_time }}</span>
                        <span class="glyphicon glyphicon-comment">评论</span>
                        <span class="glyphicon glyphicon-thumbs-up">点赞</span>
                    </div>
                </div>
                {% endfor %}
            </div>
            <!--右侧区域-->
            <div class="col-sm-2">
                <div class="panel panel-primary">
                    <div class="panel-heading">Panel heading without title</div>
                    <div class="panel-body">Panel content</div>
                </div>
                <div class="panel panel-info">
                    <div class="panel-heading"><h3 class="panel-title">Panel title</h3></div>
                    <div class="panel-body">Panel content</div>
                </div>
            </div>

        </div>
    </div>

    <script src="/static/jquery-3.3.1.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>