<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>这是首页</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/mystyle.css">
    <link rel="stylesheet" href="/static/index.css">
</head>
<body>
    <!--导航条部分-->
    <div class="head">
        <div class="logo">
            <a href="/index/"><img src="/static/img/logo_small.gif"></a>
        </div>
        <div class="user-func">

                {% if request.userinfo %}
                    <span class="func_item"><a href="/blog/{{ request.userinfo.username }}/">我的博客</a></span>
                    <span class="func_item"><a href="/settings/">设置</a></span>
                    <span class="func_item"><a href="/logoff/">注销</a></span>

                {% else %}
                <span  class="func_item"><a href="/register/">注册</a></span >
                <span  class="func_item"><a href="/login/">登录</a></span >
                {% endif %}
        </div>
    </div>

    <div class="view_body">
        <!--右侧分类-->
        <div class="cate_list pull-left">
            <div>dddd</div>
            <div>sdsddsd</div>
        </div>

        <!--中间正文区域-->
        <div class="article_list">
            {% for article in all_art %}
            <div class="media article_body">
                <div class="media-left">
                    <a href="/blog/article/{{ article.id }}">
                      <img class="media-object author-img" src="/media/{{ article.author.avator }}" alt="...">
                    </a>
                </div>
                <div class="media-body">
                    <a href="/blog/article/{{ article.id }}"><h4 class="media-heading">{{ article.title }}</h4></a>
                {{ article.desc }}
                </div>
                <div class="modal-footer">
                    <span><a href="/blog/{{ article.author.username }}">{{ article.author.username }}</a></span>
                    <span>发布于{{ article.write_time }}</span>
                    <span class="glyphicon glyphicon-comment">评论</span>
                    <span class="glyphicon glyphicon-thumbs-up">点赞</span>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>
    <script src="/static/jquery-3.3.1.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>